<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="D:\pagal hai kia\templates\style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">



    <title>Steganography</title>
</head>
<body> 
    <nav>
       
        <span class="box">
           
            <a href="index.html"> Home</a>
            </span>
        <span class="box">
            <a href="about.html">About</a> 
        </span>
        <span class="box"> <a href="contact.html">contact</a></span>
    </nav>
   
    <h1>Hello ,World ! </h1>
    <h2>Welcome to our website </h2>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium assumenda excepturi natus hic porro voluptatiexpedita io! .</h3>

    <ul>
        
            <a href="img"> <li> Image Steganography </li> </a>

        <br>
            <a href="vid">  <li> Video Steganography   </li></a>

        <br>
            <a href="aud"> <li> Audio Steganography   </li></a>
            
    </ul>

    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deleniti explicabo, vitae enim sint eaque at tempore molestiae qui tenetur ab magnam fugit necessitatibus ipsa placeat possimus repellendus omnis dolore odio consequatur accusamus. Autem dolorum aspernatur neque impedit reiciendis nihil atque maxime suscipit numquam voluptas!
        Lorem ipsum dolor sit
    </h3>
    <footer>
    <p>
        This website belongs to  Golam Tausif.
    </p>
    </footer>

</body>
</html>
